.left-side .sideBar{
    height: 100vh;
    position: sticky;
    top: 0;
    width: 17rem;
    background-color: var(--sideBar);
    overflow: auto;
    scrollbar-color: dark;
    scrollbar-width: thin;
    color: rgba(255, 255, 255, 0.674);
}

.sideBar .title{
    border-bottom: 1px solid rgba(255, 255, 255, 0.231);
    padding: 1.5rem 1rem;
    margin-bottom: 4rem;
    color: #fff;
}

.close{
    display: none;
}

.title h1{
    font-size: 1rem;
}

.dropDown {
    padding: 0 0.8rem;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 0.5rem;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 400ms ease-in-out;
}

.head .headIcon{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.headIcon .menuIcon{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.674);
}

.dropDown.active .menuIcon{
    color: #fff;
}

.head.active .menuIcon{
    color: #fff;
}

.head .arrow{
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.674);;
}

.head.active .arrow{
    color: #fff;
}

.head h4{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.674);
    transition: 400ms ease-in-out;
    margin-top: 0.1rem;
}

.head:hover{
    background-color: var(--dropDown);
}

.head.active{
    background-color: var(--dropDown);
    color: #fff;
}

.head.active h4, .head.active a{
    font-weight: 700;
    color: #fff;
}

.dropDown.active h4{
    font-weight: 700;
    color: #fff;
}

.dropDown .drop {
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    /* margin-top: 0.2rem; */
    transition: height 400ms ease-in-out;
    margin-bottom: 0.2rem;
}

.dropDown.active .drop{
    padding: 0.5rem;
    height: auto;
}

.dropDown.active .head{
    background-color: var(--dropDown);
    color: #fff;
}

.arrow{
    transition: transform 400ms ease-in-out;
}

.dropDown.active .arrow{
    transform: rotate(90deg);
}

.drop li {
    list-style: none;
}

.drop li p{
    font-size: 0.9rem;
}

li .link{
    font-size: 0.8rem;
    position: relative;
    color: rgba(255, 255, 255, 0.678);
    display: block;
    margin:0.2rem 1rem;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    transition: 400ms ease-in-out;
}

.link:hover{
    color: var(--btn-color);
}

.link:after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--btn-color);
    left: -0.8rem;
    top: 43%;
    display: none;
}

.link.active:after{
    display: inline;
}

/* sub menu part  */
.submenuHead{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0;
    cursor: pointer;
    padding: 0.3rem 1rem;
    transition: background 400ms ease-in-out;
    border-radius: 3px;
}

.drop .submenuHead p{
    font-size: 0.8rem;
}

.drop .submenuHead:hover{
    background-color: var(--dropDown);
}

.drop .subMenuArrow{
    font-size: 0.6rem;
    transition: 400ms ease-in-out;
}

.subMenu.active .subMenuArrow{
    transform: rotate(90deg);
}

.linksDrop{
    display: none;
}

.linksDrop li a{
    padding: 0 0.2rem;
    margin:0.2rem 0 0 1.7rem;
}

.subMenu.active .linksDrop{
    display: block;
}

.submenuHead.active{
    background-color: var(--dropDown);
    color: #fff;
    font-weight: 600;
}

.link.active{
    color: var(--btn-color);
}

@media(max-width : 885px){
    .close{
        display: inline;
    }

    .sideBar .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}