.roleContainer {
    padding-bottom: 0.5rem;
}

.roleContainer .roleHead{
    box-shadow: 0px 0px 0.8px 0.1px grey;
}

.roleHead h1{
    padding: 1.5rem;
    font-size: 1.1rem;
}

.roleContainer .table-overFlow{
    margin: 1rem;
}

.roleContainer .table th{
    font-size: 0.8rem;
}

.roleContainer .table th:nth-child(1){
    width: 4rem;
}

.roleContainer .table .action, .add{
    max-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.roleContainer .table .action,.add span{
    font-size: 1.3rem;
    cursor: pointer;
}


.roleContainer .table .action span:nth-child(1){
    color: red;
    font-size: 1.5rem;
}

.roleContainer .table .action span:nth-child(1):hover{
    color: rgb(157, 17, 17);
}

.roleContainer .table .action span:nth-child(2):hover{
    color: rgba(0, 0, 0, 0.527);
}

.roleContainer .table .add span{
    background-color: var(--btn-color);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 3px;
    transition: 400ms ease-in-out;
}

.roleContainer .table .add span:hover{
    background-color: transparent;
    border: 1px solid var(--btn-color);
    color: #000;
}
